*
{
    margin: 0;
    padding: 0;
}
.header
{
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("/university_img/banner.png");
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img
{
    width: 150px;
}

.nav-links
{
    flex: 1;
    text-align: right;
}

.nav-links ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;    
    
}

.nav-links a
{
    color: white;
    text-decoration: none;
}

.nav-links a:hover
{
    border-bottom: 2px solid red;
    /* transition: 0.5s; */
}

.text-box
{
    width: 90%;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 30px;
    margin-right: 100px;
    transform: translate(-50%,-50%);
    
}

.text-box a
{
    display: inline-block;
    position:relative;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 50px;
    border: 2px solid white;
   
    padding: 15px;
    
    /* text-align: center;
    align-items: center; */
}
.text-box a:hover 
{
    background-color: red;
    transition: 0.5s;
    
}

.text-box p
{
    margin-top: 20px;
}

.courses
{
    /* margin:auto; */
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    
}

.rows
{
    font-size: 20px;
    display: flex;
    margin-top: 50px;

}

.rows div
{
    width: 300px;
    margin:auto;
    text-align: justify;
    background-color:rgb(247, 244, 232);
    padding: 20px;
}

.rows h3
{
    margin-bottom: 30px;
    text-align: center;
    font-weight: 1000;

}

@media(max-width: 700px)
{
    .rows
    {
        flex-direction: column;
    }
}

.campus
{
    margin:80px 30px;
    text-align: center;
    font-size: 30px;
}

.campus-img
{
    margin: 20px 80px;
}

.campus-img img
{
    
    width:30%;
    height: 600px;
    margin:0px 20px;
    /* margin: 20px 60px; */
}

.footer
{
    margin-top: 100px;
    
    text-align: center;
    background-color: beige;
    height: 30px;
    padding-top: 10px;
}

.header-about
{
    background-image: linear-gradient(rgba(7, 31, 247, 0.3), rgba(7, 31, 247, 0.3)),url(/university_img/background.jpg);
    height:600px;
    background-size: cover;
    background-position: center;
}

.about-us h2
{
    font-size: 40px;
    color: white;
    position: absolute;
    /* text-align: center;
    margin:auto; */
    top: 300px;
    left: 650px;
}

.about-text
{
    
    display: flex;
    
    justify-content: space-around;
    margin: 70px 50px;
}

.content
{
    width: 600px;
}

.content h3
{
    margin: 50px 0px;
}

.content a
{
    border: 1px solid red;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.content a:hover
{
    background-color: rgba(243, 11, 11, 0.781);
}
.about-text h3
{
    font-size: 35px;
}

.about-text img
{
    width: 600px;
    /* position: absolute;
    right: 10px; */
    
}














